/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo del body */
body{
    background-image: url(../img/fondo_annies.png);
    font-family: 'Open Sans';
    padding-top: 6.5rem;
}   

/* estilo del menu */
.navbar {
    background-color: #d49d81;
    font-family:'Open Sans';
}

.dropdown-menu{
    background-color: #d49d81;
}

/* se agranda la imagen del logo del menu*/
.imagenLogo:hover{
    transform: scale(1.1);
}

/* estilos del main */
.estiloIndex{
    display: grid;
    grid-template-areas: "saludoUno"
    "parrafoDescriptivo"
    "carousel";
}

.saludoUno{
    grid-area: saludoUno;
    text-align: center;  
}

.carousel{
    grid-area: carousel;
    justify-self: center;
    width: 100%;
    padding: .5rem;
}

.parrafoDescriptivo{
    grid-area: parrafoDescriptivo;
    margin: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}

/* estilo de footer */
footer{
    margin: .5rem;
    font-family: 'Open Sans';
    background-image: linear-gradient(#B4846C, #fcd4c0);
    text-align: center;
    align-items: center;
    color: black;
}


/* defino media queries para index.html */
/* mq para tablets de 768px */
@media screen and (min-width: 768px) {
    .estiloIndex{
        display: grid;
        grid-template-areas: "saludoUno saludoUno"
        "parrafoDescriptivo parrafoDescriptivo"
        "carousel carousel";
    }
    .carousel{
        width: 60%;
    }
}

/* mq para monitores de 1024px */
@media screen and (min-width: 1024px) {
    .estiloIndex{
        display: grid;
        grid-template-areas: "saludoUno saludoUno saludoUno"
        "parrafoDescriptivo parrafoDescriptivo parrafoDescriptivo"
        "carousel carousel carousel"
    }
    .carousel{
        width: 40%;
    }
}

/* estilos para about.html */
.aboutHistoria1{
    font-weight: bold;
}

/* estilo main about */
.estiloAbout{
    margin: 0.5rem;
    display: grid;
    grid-template-areas: "videoUno"
                        "aboutCompleta";
}

.videoUno{
    grid-template-areas: videoUno;
    justify-self: center;
    width: 100%;
    margin: 0.5rem;
    border: 0.2rem solid #B4846C;
    border-radius: 1rem;
}

.aboutCompleta{
    grid-template-areas: aboutCompleta;
    text-align: justify;
}

/* defino media queries para about.html */
/* mq para tablets de 768px */
@media screen and (min-width: 768px) {
    .estiloAbout{
        margin: 0.5rem;
        display: grid;
        grid-template-areas: "videoUno"
                            "aboutCompleta";
    }
    .videoUno{
        width: 80%;
    }
}

/* mq para monitores para 1024px */
@media screen and (min-width: 1024px) {
    .estiloAbout{
        margin: 0.5rem;
        display: grid;
        grid-template-areas: "videoUno"
                            "aboutCompleta";
    }
    .videoUno{
        width: 60%;
    }
}


/* estilo para tartas.html */
/* defino el grid para las fotos */
.estiloTartas{
    display: grid;
    grid-template-areas: "barraClasica"
                        "clasicaUno"
                        "clasicaDos"
                        "clasicaTres"
                        "clasicaCuatro"
                        "clasicaCinco"
                        "clasicaSeis"
                        "clasicaSiete"
                        "clasicaOcho"
                        "clasicaNueve";
    grid-gap: 0.5rem;
    text-align: center;
}

.barraClasica{
    grid-area: barraClasica;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d49d81;
    border-radius: 2rem;
    margin: 1rem;
}

.clasicaUno{
    grid-area: clasicaUno;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaDos{
    grid-area: clasicaDos;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaTres{
    grid-area: clasicaTres;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaCuatro{
    grid-area: clasicaCuatro;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaCinco{
    grid-area: clasicaCinco;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaSeis{
    grid-area: clasicaSeis;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaSiete{
    grid-area: clasicaSiete;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaOcho{
    grid-area: clasicaOcho;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.clasicaNueve{
    grid-area: clasicaNueve;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.card{
    background-color: #fcd4c0;
}

.logoTarta{
    margin: .5rem;
    padding: .5rem;
}

h3{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #d49d81;
}

h5{
    background-color: #d49d81;
}

p{
    padding: 0.5rem;
}

/* defino media queries para tartas.html */
/* mq para tablets de 768px */
@media screen and (min-width: 768px) {
    .estiloTartas{
        display: grid;
        grid-template-areas: "barraClasica barraClasica"
                            "clasicaUno clasicaDos"
                            "clasicaTres clasicaCuatro"
                            "clasicaCinco clasicaSeis"
                            "clasicaSiete clasicaOcho"
                            "clasicaNueve clasicaNueve";
        grid-gap: 0.5rem;
    }
}

/* mq para desktop de 1024px */
@media screen and (min-width: 1024px) {
    .estiloTartas{
        display: grid;
        grid-template-areas: "barraClasica barraClasica barraClasica"
                            "clasicaUno clasicaDos clasicaTres"
                            "clasicaCuatro clasicaCinco clasicaSeis"
                            "clasicaSiete clasicaOcho clasicaNueve";
        grid-gap: 0.5rem;
    }
}

h2{
    margin: 1rem;
}

.tituloCard{
    font-weight: bold;
    font-size: 1.2rem;
}

/* estilo para bundtcakes.html */
/* defino el grid para las fotos */
.estiloBundt{
    display: grid;
    grid-template-areas: "barraBundt"
                        "bundtUno"
                        "bundtDos"
                        "bundtTres"
                        "bundtCuatro"
                        "bundtCinco"
                        "bundtSeis";
    grid-gap: 0.5rem;
    text-align: center;
}

.barraBundt{
    grid-area: barraBundt;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d49d81;
    border-radius: 2rem;
    margin: 1rem;
}

.bundtUno{
    grid-area: bundtUno;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.bundtDos{
    grid-area: bundtDos;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.bundtTres{
    grid-area: bundtTres;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.bundtCuatro{
    grid-area: bundtCuatro;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.bundtCinco{
    grid-area: bundtCinco;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

.bundtSeis{
    grid-area: bundtSeis;
    box-shadow: .3rem .3rem .3rem 0.3rem rgba(0, 0, 0, .2);
    margin: .5rem;
    justify-self: center;
}

/* defino media queries para tartas.html */
/* mq para tablets de 768px */
@media screen and (min-width: 768px) {
    .estiloBundt{
        display: grid;
        grid-template-areas: "barraBundt barraBundt"
                            "bundtUno bundtDos"
                            "bundtTres bundtCuatro"
                            "bundtCinco bundtSeis";
        grid-gap: 0.5rem;
        text-align: center;
    }
}

/* mq para desktop de 1024px */
@media screen and (min-width: 1024px) {
    .estiloBundt{
        display: grid;
        grid-template-areas: "barraBundt barraBundt barraBundt"
                            "bundtUno bundtDos bundtTres"
                            "bundtCuatro bundtCinco bundtSeis";
        grid-gap: 0.5rem;
        text-align: center;
    }
}

/* estilo para contacto.html */

.bienvenidaContacto{
    background-color: #d49d81;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.parrafoContacto{
    text-align: justify;
    margin: 1rem;
}

.formContacto{
    margin: 1rem;
    border: .2rem solid #B4846C;
    border-radius: 2rem;
    padding: 0.5rem;
}

.legendContacto{
    margin: 0.5rem;
}

.formCampo{
    margin: 1rem;
    padding: .5rem;
}

.boton{
    background-color:#d49d81;
    width: 30%;
    border-radius: 0.5rem;
    margin: .2rem;
    padding: .5rem;
}

.redesContacto{
    margin: 1rem;
    text-align: center;
}

.imagenContacto{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
}

/* se agranda la imagen del logo de redes sociales */
.imagenContacto1:hover{
    transform: scale(1.3);
}

.imagenContacto2:hover{
    transform: scale(1.3) ;
}

.imagenContacto3:hover{
    transform: scale(1.3) ;
}